.hero{
    position:relative;
    text-align: center; 
    color: #BEE0FF;
    padding-block: 2rem 4rem;
    z-index: 1;
  }
.hero::before{
  content: '';
  position: absolute;
  background-color: var(--clr-primary);
  clip-path: ellipse(80% 90% at 51% 0%);
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  z-index: -1;
}
  .hero>h1{
    font-size: 3em;
    font-weight: 900;
  }
 .hero>h1{
    margin-block: 0em;
  }
  .hero>p{
    margin-bottom: 0.5rem;
  }
  .search{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin:1em 20em 1em 20em;
  }
  
  .search>.btn{
    background-color: #53CBFE;
    color: #414749;
    display: inline-flex;
    align-items: center;
  }
  .submitRotate[data-rotate='true']{
    -webkit-animation:rotateIcn 4s linear infinite;
    -moz-animation:rotateIcn 4s linear infinite;
    animation: rotateIcn 3s linear infinite;
  }
  @-moz-keyframes rotateIcn { 
    100% { -moz-transform: rotate(360deg); } 
}
  @-webkit-keyframes rotateIcn { 
    100% { -webkit-transform: rotate(360deg); } 
}
  @keyframes rotateIcn {
    100%{
      -webkit-transform: rotate(360deg); 
      transform: rotate(360deg);
    }
    
  }
  .hero>.btn{
    position: absolute;
    background-color: #10A4F8;
    padding-inline: 1rem;
    font-size: 1.2em;
    left: 40%;
    right: 40%;
    bottom: 5%;
    
  }
  .searchResult{
    position: relative;
    isolation: isolate;
    margin-bottom: 3rem;
  }
  .searchResult::after{
    content: '';
    width: 100%;
    height: 70%;
    position: absolute;
    background-color: var(--clr-primary);
    bottom: -10%;
    z-index: -1;
  }
  .whatIsUV{
    padding: 1rem 3rem 1rem 3rem;
    margin:0rem 10rem 2rem 10rem ;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: var(--clr-primary);
    border: var(--clr-primary) 1px solid;
  }
  .whatIsUV>h3{
    font-weight: 400;
    font-size: 1.5em;
    /* color: #414749; */
  }
  .whatUVDo{
    background-color: var(--clr-primary);
    color: white;
    padding: 2rem 10rem 2rem 10rem;
    font-family: 'Work Sans', sans-serif;
  }
  .whatUVDo>h3{
    font-weight: 400;
    font-size: 1.5em;
  }
  .whatUVDo>p{
    text-align: center;
  }