.UvForm{
    position: relative;
    margin-block: 2rem;
    /* background-color: #6bbee19b; */
}
.UvForm .card{
    margin-inline: 10rem;
    border-radius: 1vmax;
    padding: 2rem;
}
.card-header{
    background-color: transparent;
}
.UvForm .card-body, form{
    display: flex;
    flex-direction: column;
}

.UvForm .btn-primary{
    background-color: var(--clr-primary);
    align-self: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 8rem;
}
.UvForm >span{
    display: block;
    position: absolute;
    text-align: center;
    left: 0%;
    right: 0%;
    bottom: -5%;
    color: var(--clr-primary);
}
#link{
    margin-top: 1em;
    text-decoration: none;
    align-self: center;
    display: inline-flex;
    align-items: center;
}
.uvCard{
    width: 15em;
}